<a href="https://colab.research.google.com/github/Kim-Hyunjo/test1/blob/branch2/Ch6%2C7_%EC%97%AC%EB%9F%AC%EC%A1%B0%EA%B1%B4_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>6장. 여러조건 다루기 - 심화 조건문</h1>
<h2>6.1. 중첩 조건문</h2>

* 중첩 조건문을 이용하면 앞의 알고리즘을 보완할 수 있다.

In [ ]:
#[예제 6-1]
id = 'admin'
pw = '1234'
if len(id) > 10:
    print("회원가입 실패: id 길이")
else:
    if len(pw) > 10:
        print("회원가입 실패: pw 길이")
    else:
        print("회원가입 성공")

In [ ]:
#[예제 6-2]
id = 'abc'
pw = '123'
input_id = input("id 입력: ")
input_pw = input("pw 입력: ")
if id != input_id:
    print("로그인 실패: id 오류")
elif pw != input_pw:
    print("로그인 실패: pw 오류")
else:
    print("로그인 성공")

In [ ]:
#[실습 6-1]
num1 = int(input())
num2 = int(input())
if (num1 > 0 and num2 < 0) or (num1 < 0 and num2 > 0):
    print("음수")
else:
    print("양수")

In [ ]:
#[퀴즈 6-1]
if 조건1:
    if 조건2: 
        Statement1
    else:
        Statement2
else:<br>
    False_statements
Next_statements

In [ ]:
#[퀴즈 6-2]
if age >= 10:
    if age < 20:
        print('student')
    else:
        print('adult')
else:
    print('kid')

<h2>6.2. if-elif-else 조건문</h2>

* 여러 개의 조건문을 이용한 중첩 조건문을 사용하여 더 복잡한 상황에 맞게 사용할 수 있다
* 중첩 조건문은 크게 두 가지로 if 문의 조건식이 True 일 때 또 다른 if 문이
들어가는 경우와 if 문의 조건식이 False 일 때 else 뒤에 또 다른 if 문이 들어가는 경우이다.
* If elif else 문은 실행 시간이 짧아진다는 장점이 있지만 , 가독성이 낮아지는 단점이 있다

In [ ]:
#[실습 6-2]
total = int(input())
if total > 100:
    print('Error')
elif total >= 90:
    print('A')
elif total >= 80:
    print('B')
elif total >= 70:
    print('C')
else:
    print('D')

In [ ]:
#[예제 6-3]
age = int(input())
if age >= 20:
    print('you are an adult')
elif age >= 10 and age < 20:
    print('you are an adolescent')
elif age < 10 and age >= 0:
    print('you are a baby')
else age < 0:
    print('Error')

In [ ]:
#[예제 6-4]
ch = int(input())
if ch == 5:
    print('SBS')
elif ch == 7:
    print('KBS')
elif ch == 11:
    print('MBC')
elif ch == 13:
    print('EBS')
else:
    print('try again')

In [ ]:
#[실습 6-3]
eng = int(input())
math = int(input())

if eng+math < 110:
    print('불합격: 총합점수')
else:
    if eng >= 40:
        if math >= 40:
            print('합격')
        else:
            print('불합격: 수학점수')
    else:
        print('불합격: 영어점수')

In [ ]:
#[퀴즈 6-3]
age = int(input())
if age < 20:
    if age >= 10:
        print('student')
    else: 
        print('kid')
else:
    print('adult')

<h3> [연습문제] </h3>
1. C<br>
2. 중첩 조건문/단순 나열 조건문

In [ ]:
#3
x = 52.1
if x <= 51 or x > 55:
    print('sorry')
else:
    if x <= 52:
        print('9')
    elif x <= 53:
        print('10')
    elif x <= 54:
        print('11')
    elif x <= 55:
        print('12')

In [ ]:
#4
sym = int(input())
num1 = int(input())
num2 = int(input())

if sym == 1:
    print(num1 + num2)
elif sym == 2:
         print(num1 - num2)
elif sym == 3:
    print(num1 * num2)
 elif sym == 4:
    print(num1 / num2)
else:
    print('Error')

In [ ]:
#5
year = int(input())
a = year % 4
b = year % 10
c = year % 400
check = False
if c == 0:
    check = True
else:
    if a == 0:
        if b == 0:
            check = False
        else:
            check = True
    elif b == 0:
        check = True
if check == True:
    print('윤년')
else:
    print('윤년이 아니다')

In [ ]:
#6
h = int(input())
w = int(input())
BMI = w / h ** 2
if BMI < 20 :
    print('저체중')
else:
    if BMI <= 24:
        print('정상')
    elif BMI <= 30:
        print('경도비만')
    else:
        print('비만')

In [ ]:
#7
name = input()
s = int(input())
p = 0
if s == 1:
    p = 9000
elif s == 2:
    p = 6500
elif s == 3:
    p = 4000
elif s == 4:
    p = 3000
elif s == 5:
    p = 1000
else:
    print('Error')
if p != 0 :
    print(p)

In [ ]:
#8
h = int(input())
if h <= 140:
    print('6급')
elif h > 140 and h <= 145:
    print('5급')
elif h > 145 and h <= 158:
    print('4급')
else:
    print('현역')

In [ ]:
#9
h = int(input())
w = int(input())
bmi = w/h**2
if bmi >= 20 and bmi <= 24.9:
    print(1)
elif bmi <= 19.9 and bmi >=18.5:
    print(2)
elif (bmi <18.4 and bmi >= 18) or (bmi >= 30 and bmi <= 34.9):
    print(3)
else:
    print(4)

In [ ]:
#10
gen = input()
age = int(input())
if gen == '여':
    if age >= 20:
        print('2배')
    elif age >= 30:
        print('3배')
    else:
        print('1.5배')
else:
    print('2배')

In [ ]:
#11
num1 = int(input())
num2 = int(input())
if num1 >= num2:
    if num1 % 2 == 0:
        print('num1이 큰 수, 짝수')
    else:
        print('num1 큰수 홀수')
else:
    if num2 % 2 == 0:
        print('num2 큰수 짝수')
    else:
        print('num2 큰수 홀수')

In [ ]:
#12
num1,num2,num3 = map(int, input().split())
if num1+num2 <= num3:
    print('삼각형 아님')
else:
    if num1 == num2:
        if num2 == num3:
            print('정삼각형')
        else:
            print('이등변 삼각형')
    elif num1**2+num2**2==num3**2:
        print('직각삼각형')
    else:
        print('삼각형')

13. 들여쓰기가 되어있지 않음

In [ ]:
#14
sem = int(input())
hak = int(input())
if sem > 8:
    print('장학금 없음')
else:
    if hak >= 4.0:
        print('전액 장학금')
    elif hak >= 3.5:
        print('반액 장학금')
    elif hak >= 3.0:
        print('30% 장학금')
    else:
        print('장학금 없음')

In [ ]:
#15
hour = int(input())
min = int(input())
check = False
if hour == 9:
    if min > 30:
        check = True
elif hour > 9:
    check = True
if check:
    print('지각')
else:
    print('정시 출근')

In [ ]:
#16
num1,num2,num3 = map(int, input().split())
max = 0
if num1 == num2:
    max = num1
    if num1 >= num3:
        max = num1
    else:
        max = num3
else:
    max = num2
    if num2 >= num3:
        max = num2
    else:
        max = num3
print(max)

In [ ]:
#17
num1,num2 = map(int, input().split())
sum = num1 + num2
if sum % 2 == 0:
    if sum % 3 == 0:
        print('짝수, 3의 배수')
    else:
        print('짝수, 3의 배수 아님')
else:
    if sum % 3 == 0:
        print('홀수, 3의 배수')
    else:
        print('홀수, 3의 배수 아님')

In [ ]:
#18
num1,num2 = map(int, input().split())
if num1 == 7:
    if num2 == 3:
        print('둘다 정답')
    else:
        print('행운의 숫자만 정답')
else:
    if num2 == 3:
        print('한국인이 좋아하는 숫자만 정답')
    else:
        print('둘다 오답')

In [ ]:
#19
str = input()
if str == 'I love you':
    print('영어')
elif str == 'Ti amo':
    print('이탈리아어')
elif str == 'Aishiteru':
    print('일본어')
elif str == 'Te qiero':
    print('스페인어')
elif str == 'Ich liebe dich :':
    print('독일어')

In [ ]:
#20
import sys
num1,num2,num3 = map(int,input().split())
min = sys.maxint
if num1 >= num2:
    min = num2
    if num2 >= num3:
        min = num3
else:
    min = num1
    if num1 >= num3:
        min = num3

In [ ]:
#21
num1,num2,num3 = map(int,input().split())
sum = num1 + num2 + num3
if sum % 2 == 0:
    print(max(num1,num2,num3))
else:
    print(sum)

In [ ]:
#22
x1,y1 = map(int,input().split())
x2,y2 = map(int,input().split())
x = x1; y = y1
if x1 <= x2:
    x = x2 - x1
    if y1 <= y2:
        y = y2 - y1
    else:
        y = y1 - y2
else:
    x = x1 - x2
    if y1 <= y2:
        y = y2 - y1
    else:
        y = y1 - y2
d = (x**2 + y**2) ** 0.5
print(d)

In [ ]:
#23
left = 45
co = '프랑스'
discount = 0

if left == 30:
    if co == '영국' or co == '프랑스' or co == '독일' or co == '그리스':
        discount = 0.03
elif left == 45:
    if co == '영국' or co == '프랑스' or co == '독일' or co == '그리스':
        discount = 0.05
print(670000*(1-discount))

<h1>7장. 구성이 다른 자료- list</h1>
<h2>7.1. list형</h2>

* 기호: []
* 선언 방법: list_name = [...]
* 구성요소: 어떠한 type도 가능(심지어 다른 list도 구성요소가 될 수 있다.

<h2>7.2. list의 index</h2>

* 0번째 요소부터 시작
* list_name[index]: list에서 index에 해당하는 element 값을 반환한다.
* index는 음수도 가능하다.(but list의 길이를 넘어설 수 없다.)
    ex) a = [1,2,3,4] ==> a[-1] = 4
* index도 연산이 가능하다(단, 나눗셈 연산자는 사용 불가능하다)
* element in or not in list:
    해당 element가 list내에 있는지 알 수 있다.
* len(list_name): list의 element개수를 int type으로 반환한다.

In [ ]:
#[실습 7-1]
list1 = ['maintenance', 'test', 'issue','safety','plan']
if 'maintenance' in list1 and len(list1) >= 5:
    print('possible')
else:
    print('impossible')

[퀴즈 7-1]

6/False/True/True

<h2>7.3. list형의 연산</h2>

* list_name1 + list_name2: 여러개의 list를 하나의 list로 병합하는 연산
* list_name * number: 주어진 숫자만큼 list를 반복하는 연산
* list slice:
    * list_name[idx1:idx2]
    * list_name[:]
    * list_name[:idx2]
    * list_name[idx1:]
* list형 원소 변경:
    * list_name[idx] = new_element

In [ ]:
#[퀴즈 7-2]
list_odd = [1,3,5,7,9]
list_even = [2,4,6,8,10]
print(list_odd[-3]) #5
print(list_even[1+3]) #10
print(list_odd + list_even)
print(list_odd * 2)

[퀴즈 7-3]

O / X / O / 0 / X

In [ ]:
#[실습 7-2]
spell_re = ['r,','e']
spell_serve = ['s','e','r','v','e']

spell_reserve = spell_re + spell_serve
print(spell_reserve)
spell_reserve[:2] = ['o','b']
print(spell_reserve)

In [ ]:
#[퀴즈 7-4]
string = ['a', 'b', 'c', 'd', 'e', 'f']
print(string[:3])
print(string[2:5])
print(string[1:3])

1. ['n','e','w','i','n','g']
2. ['P','r','o','g','r','a','m','m']
3. I love you. I am happy. 
4. 수정 in class

In [ ]:
#5
list1=[1, 2, 3, 6, 7]
if len(list1) == 6:
    print('lotto')
else:
    print('X')

#6
word=['h','i','m','y','n','a','m','e','i','s']
print(word[4:8])

#7
name = ['내','이','름','은','수','지','야']
name[4:6] = ['민','수']
print(name)

#8
winner=['박민아','정민호','김철수','이영희','손수정']
print('정수지' in winner)
print('김철수' in winner)
print('박민아' in winner)
print('전은진' in winner)

In [ ]:
#9
phone = []
for _ in range(5):
    my_num = input()
    phone.append(my_num)
print(phone)

#10
score = {'Peter': 100, 'John': 0, 'mina': 55, 'tim':75 }
print(score['tim'])

#11
string = ['happy','dog','love','cat']
num = [1,2,3,9,5,6]
mix = [4,0,'hi',1,'x','sun']
len(string)+len(num)+len(mix)

#12
str_b = ['boy','is']
str_g = ['girl','is']
str_bad = ['bad']
str_good = ['good']
print(str_b[1],str_b[0],str_bad[0])
print(str_g[1],str_g[0],str_good[0])
         
#13
spell = ['j','e','s','u','s']
spell[2:5] = ['l','l','y']

#14
season = ['spring','summer','fall','winter']
new = season * 2
new[4:] = ['winter'] * 4
print(new)

In [ ]:
#15
word = ['I','like','you','he','her','hate','dog']
print(word[0],word[1],word[4])

#16
week = ['9/15','9/16','9/17','9/18','9/19','9/20','9/21']
print(week[0])
print(week[6])

#17
find_word = ['t','e','c','h','n','o','l','o','g','y']
word = [find_word[0]+find_word[1]+find_word[4]]
print(word)

#18
ph = ['min','jin','kay','ken','ain']
if jake in ph:
    print(jake)
if jin in ph:
    print(jin)

In [ ]:
#19
goodsay = ['happy','love','sad','hot','angry','fortunate']
my_num = int(input())
print(goodsay[my_num])

#20
team = ['민','경','상','철','지']
if len(team) >= 3:
    print('구성원은 최대 세명까지 입니다.')

#21
score = [90,75,30,100,85]
avg = sum(score) / len(score)
print(avg)

#22
piano = ['도','레','미','파','솔','라','시']
print('1도 화음:',piano[0],piano[2],piano[4])
print('4도 화음:',piano[3],piano[5],piano[0])
print('5도 화음:',piano[4],piano[6],piano[1])
school_bell = [piano[4],piano[4],piano[5],piano[5],piano[4],piano[4],piano[2]]
print(school_bell)